<header class="relative w-full h-40 bg-red-800 flex flex-col items-center">
    <nav class="w-full h-20 bg-black text-white flex items-center justify-between">
        <h1 class="text-3xl ml-5">{{ shop.name }}</h1>
        <ul class="flex justify-around items-center w-1/3 text-white">

            {% for link in linklists.main-menu.links %}
                {% if link.links != blank %}
                <div class="flex items-center">
                    <li>{{ link.title }}</li>
                    {% render 'icon-dropdown' %}
                </div>
                {% else %}
                <a href={{ link.url }} class="text-white">{{ link.title }}</a>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="flex items-center">
            <a href="#" class="mr-5">
                {% render 'icon-shopping-bag' %}
            </a>
        </div>
    </nav>
</header>

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "text",
            "id": "mobile_menu_title",
            "default": "Menu",
            "label": "Mobile Menu Title"
        },
        {
            "type": "link_list",
            "id": "menu",
            "default": "main-menu",
            "label": "Heading Navigation Menu"
        }
    ]
}
{% endschema %}